---
import Layout from '../layouts/Layout.astro';
import { confirmarTipoObjeto , confirmarPrecio } from '../components/Product.astro'
import Lista from '../components/Lista.astro';
---

<Layout title="PescaditoCDM » Menú">

	<main>
        <nav>
			<img class="logo" alt="Logo" srcset="../../public/img/logo.png">
			<div class="items">
				<ul>
						<li id="btn-carta">CARTA</li>
						<ul class="menu-items" id="menu">
							<li id="btn-haypique" class="btn-product"><a href="#haypique" class="btn-ancor">Hay pique</a></li>
							<li id="btn-vaplomo" class="btn-product"><a href="#vaplomo" class="btn-ancor">Va plomo</a></li>
							<li id="btn-cardumen" class="btn-product"><a href="#cardumen" class="btn-ancor">Para el cardumen</a></li>
							<li id="btn-anclas" class="btn-product"><a href="#anclas" class="btn-ancor">Leven anclas</a></li>
						</ul>
					<li id="btn-barra">BARRA</li>
						<ul class="menu-items" id="barra">
							<li id="btn-clasicos" class="btn-product"><a href="#clasicos" class="btn-ancor">Mar de clásicos</a></li>
							<li id="btn-sabores" class="btn-product"><a href="#sabores" class="btn-ancor">Mar de sabores</a></li>
						</ul>
				</ul>
			</div>
		</nav>
		<article id="seccion-products">

			<section class="container-menu haypique" id="haypique">
				<img class="imagen-carta" src="../../public/img/hay-pique.png" alt="HayPique">
				<Lista section="haypique"></Lista>
			</section>

			<section class="container-menu vaplomo" id="vaplomo">
				<img class="imagen-carta" src="../../public/img/va-plomo.png" alt="VaPlomo">
				<Lista section="vaplomo"></Lista>
			</section>

			<section class="container-menu cardumen" id="cardumen">
				<img class="imagen-carta" src="../../public/img/cardumen.png" alt="Cardumen">
				<Lista section="cardumen"></Lista>
			</section>

			<section class="container-menu anclas" id="anclas">
				<img class="imagen-carta" src="../../public/img/anclas.png" alt="Anclas">
				<Lista section="anclas"></Lista>
			</section>

			<section class="container-menu clasicos" id="clasicos">
				<img class="imagen-carta" src="../../public/img/mar_clasico.png" alt="HayPique">
				<Lista section="clasicos"></Lista>
				<h1 class="titulo-lista">Bloodys</h1>
				<Lista section="bloodys"></Lista>
				<h1 class="titulo-lista">Cervezas</h1>
				<Lista section="cervezas"></Lista>
				<h1 class="titulo-lista">Tintos</h1>
				<Lista section="tintos"></Lista>
				<h1 class="titulo-lista">Blancos</h1>
				<Lista section="blancos"></Lista>
				<h1 class="titulo-lista">Rosados</h1>
				<Lista section="rosados"></Lista>
				<h1 class="titulo-lista">Espumantes</h1>
				<Lista section="espumantes"></Lista>
			</section>
			<section class="container-menu sabores" id="sabores">
					<img class="imagen-carta" src="../../public/img/mar_sabor.png" alt="HayPique">
					<Lista section="sabores"></Lista>
					<h1 class="titulo-lista">Sin alcohol</h1>
					<Lista section="sinalcohol"></Lista>
			</section>

		</article>
    </main>

</Layout>

<style>
	html{
		scroll-behavior: smooth;
	}
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Rubik', sans-serif;
	}
	.logo{
		width: 200px;
		height: 200px;
	}
	.items{
		padding-bottom: 20px;
		margin-top: 10px;
		text-align: center;
		font-size: .75em;
		
	}
	#btn-carta,#btn-barra{
		font-weight: bold;
		font-size: 1.4em;
		cursor: pointer;
		margin-bottom: 5px;
	}
	.menu-items{
		overflow: hidden;
		max-height: 0;
		transition: .7s ease all;
	}
	.items ul li:hover,.menu-items li a:hover{
		color: #fffbc2;
		/* text-shadow: 0px 0px 20px #ffee00; */
	}
	.menu-items.active{
		transition: .7s ease all;
		visibility: visible;
		max-height: 95px;
		/* overflow: hidden; */
		
	}
	.items ul{
		cursor: default;
		list-style: none;
		height: 120px;
	}
	.items ul li{
		font-weight: 100;
		line-height: 1.1em;
	}
	.btn-product{
		cursor: pointer;
	}
	.titulo-lista{
		text-align: center;
		padding: 10px;
		background-color: #045666;
		box-shadow: 0px 0px 20px 0px rgb(0, 172, 177);
		color: #8aeaff;
		margin-top: 30px;
		margin-bottom: 25px;
		font-weight: 100;
		text-transform: uppercase;
	}
	.imagen-carta{
		width: 90%;
		min-width: 200px;
		height: 100px;
		margin: 20px 6%;
		object-fit: contain;
	}
	.container-menu{
		width: 100%;
	}
	.active{
		font-weight: bold;
		font-size: 1.4em;
	}
	main {
		margin: auto;
		padding: 3%;
		width: 90%;
		max-width: 1600px;
		min-width: 300px;
		/* border: 2px solid red; */
		background-color: #045666;
		display: grid;
		grid-template-columns: 25% 1fr;
		gap: 20px;
		min-height: 90%;
		margin-bottom: 40px;
		margin-top: 40px;
		align-items: center;
		box-shadow: 0px 0px 80px -10px rgba(0,120,120,0.6);

	}
	nav{
		color: #f3ea6c;
		font-size: 1.2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
	article{
		/* border: 2px solid violet; */
		background-color: #8aeaff;
		padding: 30px;
		overflow: scroll;
		overflow-x: hidden;
		height: 485px;
		border-radius: 15px;
		/* display: flex; */
		scrollbar-width: auto;
    	scrollbar-color: #ebff52 #fbfad0;	
	}
	article::-webkit-scrollbar {
    width: 12px;
	
	}

	article::-webkit-scrollbar-track {
    background: #08616e75;
	border-radius: 0 15px 15px 0;
	}

	article::-webkit-scrollbar-thumb {
    background-color: #056073;
    border-radius: 12px;
    border: 2px solid #158ca3;

	}
	@media only screen and (max-width: 780px) {
			main {
				grid-template-columns: 1fr;
			}
}
</style>
<script src="./functions.js"></script>
<script>



	const btnCarta = document.getElementById('btn-carta')
	const btnBarra = document.getElementById('btn-barra')
	const navLi = document.querySelectorAll('main nav div ul ul li a');
	const sections = document.querySelectorAll('section')
	const menu = document.getElementById('seccion-products')

	btnCarta.addEventListener('click',()=>{
	const carta = document.getElementById('menu').classList.toggle('active')
	const barra = document.getElementById('barra').classList.remove('active')
	})
	btnBarra.addEventListener('click',()=>{
	const barra = document.getElementById('barra').classList.toggle('active')
	const carta = document.getElementById('menu').classList.remove('active')
	})

menu.onscroll = () => {
	sections.forEach(sec =>{
		let top = window.scrollY;
		let offset = sec.offsetTop;
		let height = sec.offsetHeight
		let id = sec.getAttribute('ud');
		
		if (top >= offset && top < offset + height) {
			navLi.forEach(links =>{
				console.log(links)
				links.classList.remove('active');
				document.querySelector('main nav div ul ul li a[href*='+ id +']').classList.add('active')
			})
		}
	})
}
</script>
